include README.md
include LICENSE
include COPYING
recursive-include paiji2_forum/static *
recursive-include paiji2_forum/templates *
recursive-include paiji2_forum/templatetags *
recursive-include paiji2_forum/locale *
