{% extends 'home/layout_three_columns.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Forum' %}{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static "forum/style.css" %}"/>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        <h3>
            {% trans 'Forum' %}
            <span class="forum-action">
                <a href="{% url 'forum:new' %}">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </span>
        </h3>
    </div>
</div>{# row #}


<nav class="navbar navbar-default navbar-forum">
    <ul class="nav nav-tabs nav-justified nav-forum">
        <li class="{% block class-recent %}{% endblock %}">
            <a href="{% url 'forum:recent-list' %}">
                <span class="glyphicon glyphicon-time"></span>
                {% trans 'recents' %}
            </a>
        </li>
        <li class="{% block class-unread %}{% endblock %}">
            <a href="{% url 'forum:unread' %}">
                <span class="glyphicon glyphicon-eye-close"></span>
                {% trans 'unread' context 'plur' %}
            </a>
        </li>
        <li class="{% block class-topics %}{% endblock %}">
            <a href="{% url 'forum:topic-list' %}">
                <span class="glyphicon glyphicon-list"></span>
                {% trans 'topics' %}
            </a>
        </li>
        <li class="{% block class-new %}{% endblock %}">
            <a href="{% url 'forum:new' %}">
                <span class="glyphicon glyphicon-pencil"></span>
                {% trans 'new' %}
            </a>
        </li>
    </ul>
</nav>

<div class="well">

{% block forum-top-nav %}
{% endblock %}

    {% if is_paginated %}
    <div class="row">
        <div class="centered pagination-container">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
    {% endif %}

    {% block forum-content %}{% endblock %}

    {% if is_paginated %}
    <div class="row">
        <div class="centered pagination-container">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}
