{% load i18n %}
<html>
    <head>
        <title>{% trans 'Sample Project' %} | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% if not user.is_authenticated %}
            <a class="btn btn-default" href={% url 'login' %}>{% trans 'login' %}</a>
            {% else %}
            <a class="btn btn-default" href={% url 'logout' %}>{% trans 'logout' %}</a>
            <a class="btn btn-default" href={% url 'password_change' %}>{% trans 'change password' %}</a>
            {% endif %}
            <a class="btn btn-default pull-right" href='/admin' %}>{% trans 'admin' %}</a>
            
            <form class="btn btn-default" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <label class="label label-default" for="language">{% trans 'language' %}{% if LANGUAGE_CODE != 'en' %} (language){% endif %}</label>
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="go"/>
            </form>

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
